.container {
  width: 89%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 0px;
}

.background_image {
  width: 600px;
  height: 600px;
  margin-left: 100px;
}

.box_text h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 80px;
  width: 394px;
  margin-top: 150px;
  margin-bottom: 70px;
  color: #FFF;
}

.box_text p {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  width: 300px;
  color: #FFF;
}

.background_image {
  width: 600px;
  height: 600px;
}

.button {
  display: flex;
  align-items: flex-end;
}

.container button {
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 30px;
  background-color: #FFD666;
  cursor: pointer;
  transition: 600ms ease;
}

.container button:hover {
  background-color: #B1FF96;
}

/* ADAPTAÇÃO PRA TELAS ABAIXO DE 1000px */
@media (max-width: 1152px) {
  .container {
    overflow: hidden;
  }

  .background_image {
    width: 0px;
    height: 0px;
  }

  .button {
    margin-top: 40px;
  }
}

@media (max-width: 616px) {
  .container {
    flex-wrap: wrap;
  }
  
  .box_text h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 80px;
    width: 394px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #FFF;
  }
}