.message {
  width: 25%;
  padding: 1em;
  border: 1px solid #000;
  margin-bottom: 2em;
  border-radius: 5px;
}

.success {
  color: #155724;
  background-color: #d4edda;
  border-color: #C3E6cB;
}

.error{
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}