.container_1 {
  background-color: #EBF5EB;
  height: 100vh;
  padding-top: 50px;
  padding-left: 176px;
  padding-right: 80px;
}

.container_1 div h1{
  font-size: 32px;
  font-weight: 700;
  color: #4D6F80;
}

.add {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  background-color: #39A151;
  color: #FFF;
  width: 170px;
  height: 64px;
  border-radius: 20px;
  transition: .5s;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 800;
}

.btn a {
  text-decoration: none;
  color: #FFF;
}

.btn:hover{
  background-color: #37DF5D;
}

.flex_card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 890px) {
  .btn{
    margin-top: 20px;

  }
}

@media (max-width: 500px) {
  .container_1 div h1 {
    font-size: 28px;
  }
}