.container {
  width: 89%;
  display: flex;
  margin: 0 auto;
}

.recycle {
  width: 579px;
  height: 579px;
}

.box_text {
  margin-top: 120px;
}

.title {
  font-size: 70px;
  font-weight: 700;
  line-height: 68px;
  width: 394px;
  margin-bottom: 50px;
  color: #FFF;
}

.subtitle {
  font-size: 24px;
  font-weight: 5 00;
  line-height: 34px;
  width: 320px;
  color: #FFF;
}