.navbar {
  width: 89%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 2.5em;
}

.logo{
  width: 200px;
}

.button{
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 20px;
  background-color: #388249;
  cursor: pointer;
  transition: 600ms ease;
}

.button:hover {
  background-color: #37DF5D;
}

.button a {
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}

.list{
  display:flex;
  list-style: none;
  align-items: center;
  text-decoration: none;
}